version: '3'


volumes:
  mongo_data:
    driver: local

services:
  nginx:
    image: nginx:1.24.0
    volumes:
      - ./nginx/nginx-local-frontend-dev.conf:/etc/nginx/nginx.conf
      - ./nginx/config:/etc/ssl
    ports:
      - 443:443
    depends_on:
      - api
  
  frontend:
    image: frontend
    env_file:
      - .env
    build:
      dockerfile: ./frontend/Dockerfile
      context: ./
    ports:
      - 8080:8080
    restart: unless-stopped
    depends_on:
      - api

  api:
    image: api
    ports:
      - 8000:8000
      - 5678:5678
      - 8181:8181
    restart: unless-stopped
    volumes:
      - ./api/subsetter:/subsetter
    build:
      context: ./api/
      dockerfile: Dockerfile
    working_dir: /subsetter
    command: python -m debugpy --listen 0.0.0.0:5678 -m uvicorn --host 0.0.0.0 --port 8000 --proxy-headers main:app --reload
    env_file:
      - .env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:5.0
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
