ARGO_HOST=https://workflows.argo.cuahsi.io
ARGO_NAMESPACE=workflows
ARGO_BEARER_TOKEN=Bearer v2:eyJhbGciOi... ARGO_TOKEN value from https://workflows.argo.cuahsi.io/userinfo

MONGO_URL=mongodb://root:password@mongodb
MONGO_DATABASE=subsetter

OAUTH2_CLIENT_ID=subsetter
OAUTH2_CLIENT_SECRET=<Get From Keycloak>

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_API_URL=api.minio.cuahsi.io

ALLOW_ORIGINS='["http://localhost:*"]'

VITE_APP_NAME=subsetter
VITE_APP_API_HOST=localhost
VITE_APP_API_URL=https://${VITE_APP_API_HOST}/api
OAUTH2_REDIRECT_URl=${VITE_APP_API_URL}/auth/cuahsi/callback
OAUTH2_COOKIE_REDIRECT_URl=${VITE_APP_URL}/auth-redirect