<!DOCTYPE html>

<html> 
   <head> 
      <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>

      <!-- Material Design Libraries -->
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <script src="{{ static_url('mdl-ext.js') }}"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <link rel="stylesheet" type="text/css" href="{{ static_url('mdl-ext-eqjs.css') }}" />

      <!-- custom styling -->
      <link rel="stylesheet" type="text/css" href='{{ static_url("style.css") }}'/> 

      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

      {# Suppress favicon. Should add icon in the future #}
      <link rel='shortcut icon' href="">


      {% block extra-head %}
      {% end %}


   </head>


<div class="body-layout mdl-layout mdl-js-layout">
    <div class="mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title title-font">
                Domain Subsetter - {{ title}}
            </span>
            <div class="mdl-layout-spacer"></div>
            <div id="beta-tag"> </div>
    </header>
</div>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Map</a>
            <a class="mdl-navigation__link" href="/getting-started">Getting Started</a>
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/help">Help</a>
            <a class="mdl-navigation__link" href="/api">API</a>
       </nav>
   </div>


    <main class="mdl-layout__content">
    {% block content %}
        <!--  This is where page content goes -->
    {% end %}
    </main>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="/about">About</a></li>
                <li><a href="mailto:help@cuahsi.org">Contact</a></li>
                <li><a href="https://github.com/CUAHSI/nwm_subsetting">Find us on GitHub</a></li>
                </ul>
            </div>
        <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo"><img src='{{ static_url("logo.png") }}'></div>
        </div>
    </footer>

<div id="notification" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

</div>

    {% block extra-js %}
    {% end %}

</html>
