<h6>Subsetting National Water Model v1.2.2 Domain Files</h6>
<ol type="1">
<li>Zoom to your area of interest on the map until you can see the catchments outlined in Green (these are HUC12).</li>
<li>Use your cursor to select the one or more green HUC12 catchments. You will see a box outlining the area that the tool will subset. <em>Note: if the box outline is Red, the catchment you have selected is too large</em></li>
<li>Once you are satisfied with the selected area, press the <em>Submit</em> button below the map.</li>
<li>Your catchment is being subsetted! Wait for the tool to process.</li>
<li>Download the *.tar.gz file containing the domain files necessary to run the NWM (version 1.2) at the area you selected.</li>
</ol>
<h6 id="considerations">Considerations</h6>
<ul>
<li>Try to select a headwater catchment, as the tool does not currently support upstream tracing.</li>
<li>Domain files do not contain the NWM operational lake and reservoir dataset.</li>
<li>This service does not provide RESTART files which are typically used to initialize the model. Specifying inital conditions is left to the user.</li>
</ul>
<h6 id="disclaimer">Disclaimer</h6>
<p>Data and results obtained using this service are not a direct reflection of the operational NOAA/NWS National Water Model, and should be interpreted and communicated accordingly.</p>
