<h3 id="getting-started">GETTING STARTED</h3>
<h3 id="how-to-use-the-cuahsi-subsetter-tool-national-water-model-v1.2">How to use the CUAHSI Subsetter Tool: National Water Model v1.2</h3>
<ol type="1">
<li>Open the <em>Map</em> tab</li>
<li>Zoom to your area of interest on the map until you can see the catchments outlined in Green (these are HUC12)</li>
<li>Use your cursor to select the one or multiple green HUC12 catchments. You will see a box outlining the area that the tool will subset. _*Note: if the box outline is Red, the catchment you have selected is too large to subset_</li>
<li>Once you are satisfied with selected area, press the <em>Submit</em> button in the lower right corner below the map.</li>
<li>Your catchment is being subsetted! Wait for the tool to process…</li>
<li>Download your tar.gz file containing the domain files necessary to run the NWM at the area you selected</li>
</ol>
<h6 id="considerations">Considerations</h6>
<ul>
<li>Try to select a headwaters catchment, as the tool does not currently support upstream tracing</li>
<li>Some other things to consider…</li>
</ul>
<h3 id="other-helpful-tools">Other helpful tools</h3>
<h5 id="reading-domain-files-and-outputs">Reading Domain files and Outputs</h5>
<p>National Water Model NetCDF domain files and outputs can be easily accessed using the R package <em>rwrfhydro</em> (<a href="https://ral.ucar.edu/projects/wrf_hydro/rwrfhydro" class="uri">https://ral.ucar.edu/projects/wrf_hydro/rwrfhydro</a>) developed at NCAR.</p>
