<p>This page offers additional resources that users may find helpful when using the CUAHSI Domain Subsetter for both NWM/WRF-Hydro and ParFlow-CONUS.</p>
<hr />
<h4 id="national-water-model">National Water Model</h4>
<ul>
<li><p>Office of Water Prediction (OWP), National Water Model<br /><a href="http://water.noaa.gov">http://water.noaa.gov</a></p></li>
<li><p>OWP National Water Model Mapping Interface <em>(this is particularly useful to check COMIDs)</em><br /><a href="http://water.noaa.gov/map">http://water.noaa.gov/map</a></p></li>
<li><p>HydroShare National Water Model Viewer for data collection<br /><a href="https://hs-apps.hydroshare.org/apps/nwm-forecasts/">https://hs-apps.hydroshare.org/apps/nwm-forecasts/</a></p></li>
</ul>
<h6 id="general-resources">General Resources</h6>
<p>It should be noted that we do not fully outline how to set up a WRF-Hydro model here and this page intended to give only general advice on the build process in reference to using WRF-Hydro with the CUAHSI NWM subsetting tool. WRF-Hydro is extensively documented by the development team at NCAR and you should refer to the <a href="https://ral.ucar.edu/projects/wrf_hydro/overview">WRF-Hydro Modeling System website</a> and the links below for general WRF-Hydro information. For additional <a href="https://ral.ucar.edu/projects/wrf_hydro/contact">user support</a>, please contact <script type="text/javascript">
<!--
h='&#x75;&#x63;&#x61;&#114;&#46;&#x65;&#100;&#x75;';a='&#64;';n='&#x77;&#114;&#102;&#104;&#x79;&#100;&#114;&#x6f;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x77;&#114;&#102;&#104;&#x79;&#100;&#114;&#x6f;&#32;&#x61;&#116;&#32;&#x75;&#x63;&#x61;&#114;&#32;&#100;&#x6f;&#116;&#32;&#x65;&#100;&#x75;</noscript>.</p>
<ul>
<li><p>WRF-Hydro V5 Technical Description:<br /><a href="https://ral.ucar.edu/sites/default/files/public/WRF-HydroV5TechnicalDescription_0.pdf">https://ral.ucar.edu/sites/default/files/public/WRF-HydroV5TechnicalDescription_0.pdf</a></p></li>
<li><p>WRF-Hydro and NWM Source Code:<br /><a href="https://github.com/NCAR/wrf_hydro_nwm_public/tags">https://github.com/NCAR/wrf_hydro_nwm_public/tags</a></p></li>
<li><p>WRF-Hydro Citation and User Guides:<br /><a href="https://ral.ucar.edu/projects/wrf_hydro/technical-description-user-guide">https://ral.ucar.edu/projects/wrf_hydro/technical-description-user-guide</a></p></li>
<li><p>Training Materials:<br /><a href="https://ral.ucar.edu/projects/wrf_hydro/training-materials">https://ral.ucar.edu/projects/wrf_hydro/training-materials</a></p></li>
<li><p>The Croton, NY testcase is a good reference for how to compile and run WRF-Hydro:<br /><a href="https://ral.ucar.edu/projects/wrf_hydro/testcases">https://ral.ucar.edu/projects/wrf_hydro/testcases</a></p></li>
<li><p><em>rwrfhydro</em>, an R toolbox for managing, analyzing, and visualizing WRF-Hydro data:<br /><a href="https://github.com/NCAR/rwrfhydro">https://github.com/NCAR/rwrfhydro</a><br />National Water Model NetCDF domain files and outputs can be easily accessed using the <em>rwrfhydro</em> package developed at NCAR.</p></li>
<li><p>Meteorological Forcing Regridding scripts for regridding forcing to the WRF-Hydro geogrid:<br /><a href="https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts">https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts</a></p></li>
</ul>
<h6 id="basic-model-set-up-i.e.-how-to-use-your-subsetted-domain">Basic Model Set-Up (i.e. How to use your subsetted domain):</h6>
<ol style="list-style-type: decimal">
<li>Reference the following documents:
<ul>
<li>“How to Build and Run WRF-Hydro V5 in Standalone Mode”:<br /><a href="https://ral.ucar.edu/sites/default/files/public/HowToBuildandRunWRF-HydroV5inStandaloneMode_0.pdf">https://ral.ucar.edu/sites/default/files/public/HowToBuildandRunWRF-HydroV5inStandaloneMode_0.pdf</a></li>
<li>“WRF-Hydro V5 Test Case User Guide”:<br /><a href="https://ral.ucar.edu/sites/default/files/public/WRF-HydroV5TestCaseUserGuide_4.pdf">https://ral.ucar.edu/sites/default/files/public/WRF-HydroV5TestCaseUserGuide_4.pdf</a></li>
</ul></li>
<li><p>Obtain the <a href="https://github.com/NCAR/wrf_hydro_nwm_public/tags">source code</a> for the latest WRF-Hydro release</p></li>
<li><p>Set the required environmental variables for your machine/environment.</p></li>
<li><p>Configure</p></li>
<li><p>Compile with nudging turned off</p></li>
</ol>
<p>The CUAHSI Domain Subsetting Tool: NWM v1.2 does not currently support subsetting of Nudging files. As such, the model must be compiled using the NoahMP land surface model (LSM) with NUDGING TURNED OFF in the <code>setEnvar.sh</code> script (<code>export WRF_HYDRO_NUDGING=0</code>).</p>
<hr />
<h5 id="parflow">ParFlow</h5>
<h6 id="general-resources-1">General Resources</h6>
<p><em>ParFlow CONUS:</em></p>
<ul>
<li>Maxwell, R. M., Condon, L. E., &amp; Kollet, S. J. (2015). <a href="https://www.geosci-model-dev.net/8/923/2015/">A high-resolution simulation of groundwater and surface water over most of the continental US with the integrated hydrologic model ParFlow v3.</a> Geoscientific Model Development, 8, 923–937. doi:10.5194/gmd-8-923-2015.<br /></li>
<li>Maxwell, R. M., &amp; Condon, L. (2016). <a href="https://science.sciencemag.org/content/353/6297/377">Connections between groundwater flow and transpiration partitioning.</a> Science, 353(6297), 377–379. doi:10.1126/science.aaf7891.</li>
</ul>
<p><em>ParFlow:</em></p>
<ul>
<li>Jones, J.E. and Woodward, C.S. (2001). [Newton–Krylov-multigrid solvers for large-scale, highly heterogeneous, variably saturated flow problems.] (<a href="http://www.sciencedirect.com/science/article/pii/S0309170800000750">http://www.sciencedirect.com/science/article/pii/S0309170800000750</a>) Advances in Water Resources, 24(7), 763–774, doi:10.1016/S0309-1708(00)00075-0.<br /></li>
<li>Ashby S.F. and Falgout, R.D. (1996). <a href="http://www.ans.org/pubs/journals/nse/a_24230">A Parallel Multigrid Preconditioned Conjugate Gradient Algorithm for Groundwater Flow Simulations.</a> Nuclear Science and Engineering, 124(1), 145-159.<br /></li>
<li>Kollet, S.J. and Maxwell, R.M. (2006). <a href="https://www.sciencedirect.com/science/article/abs/pii/S0309170805002101">Integrated surface-groundwater flow modeling: a free-surface overland flow boundary condition in a parallel groundwater flow model.</a> Advances in Water Resources, 29(7), 945-958, doi:10.1016/j.advwatres.2005.08.006.<br /></li>
<li>Maxwell, R.M. (2013) <a href="https://www.sciencedirect.com/science/article/abs/pii/S0309170812002564">A terrain-following grid transform and preconditioner for parallel, large-scale, integrated hydrologic modeling.</a> Advances in Water Resources, 53, 109-117, doi:10.1016/j.advwatres.2012.10.001.</li>
</ul>
<p><em>ParFlow coupled to CLM</em></p>
<ul>
<li>Maxwell, R.M. and Miller, N.L. (2005). <a href="https://journals.ametsoc.org/doi/full/10.1175/JHM422.1">Development of a Coupled Land Surface and Groundwater Model.</a> Journal of Hydrometeorology, 6(3), 233-247, doi:10.1175/JHM422.1.<br /></li>
<li>Kollet, S.J. and Maxwell, R.M. (2008). <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2007WR006004">Capturing the influence of groundwater dynamics on land surface processes using an integrated, distributed watershed model.</a> Water Resources Research, 44(2), W02402, doi:10.1029/2007WR006004</li>
</ul>
<h5 id="code-download">Code Download</h5>
<p>ParFlow is available on GitHub <a href="https://github.com/parflow/parflow">https://github.com/parflow/parflow</a>, including the newest and older versions. At the time of writing this documentation, the latest stable release is <a href="https://github.com/parflow/parflow/releases/tag/v3.6.0">v3.6.0 (2019-09-01)</a>, which also contains many test cases including data to get started.</p>
<h5 id="running-parflow">Running ParFlow</h5>
<ul>
<li><p>ParFlow website includes extensive ParFlow resources on documentation, example applications, publications and user manual, and source code download. <a href="https://parflow.org">https://parflow.org</a></p></li>
<li><p>ParFlow blog, for troubleshooting and installation instructions. <a href="http://parflow.blogspot.com">http://parflow.blogspot.com</a></p></li>
<li><p>ParFlow mailing list <a href="https://mailman.mines.edu/mailman/listinfo/parflow-users">https://mailman.mines.edu/mailman/listinfo/parflow-users</a></p></li>
<li><p>ParFlow is available as a Docker container. Instructions can be found on the Docker page on the ParFlow GitHub <a href="https://github.com/parflow/docker">https://github.com/parflow/docker</a>.</p></li>
</ul>
<h5 id="visualization">Visualization</h5>
<p>Both <em>VisIt</em> <a href="https://wci.llnl.gov/simulation/computer-codes/visit/executables">https://wci.llnl.gov/simulation/computer-codes/visit/executables</a> and <em>ParaView</em> <a href="https://www.paraview.org/download/">https://www.paraview.org/download/</a> support visualization of ParFlow output files </p>
<hr />
<h4 id="additional-resources">ADDITIONAL RESOURCES</h4>
<h5 id="nldas-2-meteorological-forcing">NLDAS-2 Meteorological Forcing</h5>
<p>The North American Land Data Assimilation System is a quality-controlled, spatially and temporally consistent meteorological dataset with many uses. It is one product that can be used to force subsetted NWM and PF-CONUS domains, after it has been regridded to the model domain. For NWM, [regridding tools] (<a href="https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts">https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts</a>) are available on the WRF-Hydro website. <a href="http://ldas.gsfc.nasa.gov/nldas/">http://ldas.gsfc.nasa.gov/nldas/</a></p>
<h5 id="hydrologic-unit-code-huc">Hydrologic Unit Code (HUC)</h5>
<p>Find HUC of interest using the USGS <em>Science in Your Watershed</em> website <a href="https://water.usgs.gov/wsc/map_index.html">https://water.usgs.gov/wsc/map_index.html</a></p>
<h5 id="nhdplus-high-resolution">NHDPlus High Resolution</h5>
<p>The NHDPlus catchments and vector stream network are used directly in the NWM, as well as to inform development of a new PF-CONUS domain that extends to the coastlines (still to be released). <a href="https://www.usgs.gov/core-science-systems/ngp/national-hydrography/nhdplus-high-resolution">https://www.usgs.gov/core-science-systems/ngp/national-hydrography/nhdplus-high-resolution</a></p>
<hr />
<h4 id="contact-inquires">CONTACT &amp; INQUIRES</h4>
<p><strong><em>CUAHSI Subsetting Tool questions</em></strong><br />Contact Tony Castronova <script type="text/javascript">
<!--
h='&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#x61;&#x63;&#x61;&#x73;&#116;&#114;&#x6f;&#110;&#x6f;&#118;&#x61;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x61;&#x63;&#x61;&#x73;&#116;&#114;&#x6f;&#110;&#x6f;&#118;&#x61;&#32;&#x61;&#116;&#32;&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript> or Danielle Tijerina <script type="text/javascript">
<!--
h='&#x6d;&#x69;&#110;&#x65;&#x73;&#46;&#x65;&#100;&#x75;';a='&#64;';n='&#100;&#116;&#x69;&#106;&#x65;&#114;&#x69;&#110;&#x61;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#100;&#116;&#x69;&#106;&#x65;&#114;&#x69;&#110;&#x61;&#32;&#x61;&#116;&#32;&#x6d;&#x69;&#110;&#x65;&#x73;&#32;&#100;&#x6f;&#116;&#32;&#x65;&#100;&#x75;</noscript></p>
<p><strong><em>WRF-Hydro specific questions</em></strong><br />Visit the <a href="https://ral.ucar.edu/projects/wrf_hydro/contact">WRF-Hydro Support Page</a> and contact <script type="text/javascript">
<!--
h='&#110;&#x6f;&#x61;&#x61;&#46;&#x67;&#x6f;&#118;';a='&#64;';n='&#110;&#x77;&#x73;&#46;&#110;&#x77;&#x63;&#46;&#x6f;&#112;&#x73;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#110;&#x77;&#x73;&#46;&#110;&#x77;&#x63;&#46;&#x6f;&#112;&#x73;&#32;&#x61;&#116;&#32;&#110;&#x6f;&#x61;&#x61;&#32;&#100;&#x6f;&#116;&#32;&#x67;&#x6f;&#118;</noscript> for questions specifically about the National Water Model.</p>
<p><strong><em>ParFlow specific questions</em></strong><br />Consult the <a href="http://parflow.blogspot.com/">ParFlow blog</a>, [ParFlow user's manual] (<a href="https://github.com/parflow/parflow/blob/v3.6.0/parflow-manual.pdf">https://github.com/parflow/parflow/blob/v3.6.0/parflow-manual.pdf</a>), or report problems to the <a href="https://mailman.mines.edu/mailman/listinfo/parflow-users">mailing list</a> or <a href="https://github.com/parflow/parflow/issues">ParFlow Github issue tracker.</a></p>
