<h3 id="help-page">Help Page</h3>
<h4 id="additional-resources">Additional Resources</h4>
<p>Office of Water Prediction (OWP), National Water Model<br /><a href="http://water.noaa.gov">http://water.noaa.gov</a></p>
<p>OWP National Water Model Mapping Interface <em>(this is particularly useful to check COMIDs)</em><br /><a href="http://water.noaa.gov/map">http://water.noaa.gov/map</a></p>
<p>WRF-Hydro Modeling System<br /><a href="https://ral.ucar.edu/projects/wrf_hydro/overview">https://ral.ucar.edu/projects/wrf_hydro/overview</a></p>
<p>WRF-Hydro and NWM Source Code (as of 12/3/2018, use v1.2) <a href="https://github.com/NCAR/wrf_hydro_nwm_public/tags">https://github.com/NCAR/wrf_hydro_nwm_public/tags</a></p>
<p>NLDAS-2<br />The North American Land Data Assimilation System is a quality-controlled, spatially and temporally consistent meteorological dataset with many uses. It is one product that can be used to force a subsetted NWM domain.<br /><a href="http://ldas.gsfc.nasa.gov/nldas/">http://ldas.gsfc.nasa.gov/nldas/</a></p>
<p>Meteorological Forcing Regridding scripts for regridding forcing to the WRF-Hydro geogrid <a href="https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts">https://ral.ucar.edu/projects/wrf_hydro/regridding-scripts</a></p>
<p>Forcing Subsetter<br />www.drewsforcing.com …</p>
<h4 id="contact-and-inquiries">Contact and Inquiries</h4>
<p>For information specific to the CUAHSI Subsetting Tool, you may contact Tony Castronova <script type="text/javascript">
<!--
h='&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#x61;&#x63;&#x61;&#x73;&#116;&#114;&#x6f;&#110;&#x6f;&#118;&#x61;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x61;&#x63;&#x61;&#x73;&#116;&#114;&#x6f;&#110;&#x6f;&#118;&#x61;&#32;&#x61;&#116;&#32;&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript> or Danielle Tijerina <script type="text/javascript">
<!--
h='&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#100;&#116;&#x69;&#106;&#x65;&#114;&#x69;&#110;&#x61;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#100;&#116;&#x69;&#106;&#x65;&#114;&#x69;&#110;&#x61;&#32;&#x61;&#116;&#32;&#x63;&#x75;&#x61;&#104;&#x73;&#x69;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript>.</p>
<p>For information specific to WRF-Hydro please go to the <a href="https://ral.ucar.edu/projects/wrf_hydro/contact">WRF-Hydro Support Page</a> and contact <script type="text/javascript">
<!--
h='&#x73;&#x6f;&#x6d;&#x65;&#116;&#104;&#x69;&#110;&#x67;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#x53;&#x6f;&#x6d;&#x65;&#x6f;&#110;&#x65;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+e+'<\/'+'a'+'>');
// -->
</script><noscript>&#x53;&#x6f;&#x6d;&#x65;&#x6f;&#110;&#x65;&#32;&#x61;&#116;&#32;&#x73;&#x6f;&#x6d;&#x65;&#116;&#104;&#x69;&#110;&#x67;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript> for questions specifically about the National Water Model.</p>
