<h5>Save to HydroShare</h5>
<p>
    This will save the data that has been extracted to the HydroShare repository. Note, this requires you to have a valid HydroShare account. To obtain an account go to the <a href=https://hydroshare.org/sign-up/> sign-up</a> page. If you already have a HydroShare account, please specify a title for your dataset and then click Submit.

    Title: 
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	<input class="mdl-textfield__input" type="text" id="hs-res-title">
	<label class="mdl-textfield__label" for="hs-res-title">Resource Title...</label>
  </div>
</p>
