<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
     <h1>National Water Model (v1.2.2) API Subsetting Tool</h1>
     This is an experimental CUAHSI data service, use at your own risk.
     </br>
     </br>
     {% try %}
       {% if msg %}
         <div style="background-color:rgb(245, 137, 113);padding:35px"> 
         <p> {{ msg }} </p>
          </div>
       {% end %}
     {% except%}
     {% end %}
     </br>
     Specify the Latitudes and Longitudes of the bounding box in the WGS 1984 SRS, see the following <a href=https://epsg.io/map#srs=4326&x=-71.119974&y=42.354428&z=12&layer=streets target="_blank">link</a> for help:
     </br>
     </br>
     <form action="{{ request.path }}" method="post">
       <div>Lower Latitude: <input type="text" name="llat"/></div>
       </br>
       <div>Upper Latitude: <input type="text" name="ulat"/></div>
       </br>
       <div>Lower Longitude: <input type="text" name="llon"/></div>
       </br>
       <div>Upper Longitude: <input type="text" name="ulon"/></div>
       </br>
       <div><input type="submit" value=Submit></div>
       {% module xsrf_form_html() %}
     </form>
   </body>
 </html>
