<!DOCTYPE html>

{% extends base_new.html %}

{% block extra-head %}
      <link rel="stylesheet" type="text/css" href="https://cdn.leafletjs.com/leaflet/v1.3.4/leaflet.css"/>
      <script type='text/javascript' src='https://cdn.leafletjs.com/leaflet/v1.3.4/leaflet.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
      <script type='text/javascript' src='{{ static_url("map.js") }}'></script> 
      <script type='text/javascript' src='{{ static_url("L.Control.MousePosition.js") }}'></script> 
      <!--      <script type='text/javascript' src='{{ static_url("dialog.js") }}'></script>  -->
      <link rel="shortcut icon" href="favicon.ico">

	{% block more-head %}
	{% end %}
{% end %}


{% block content %}


    <!-- Overview/Description -->
    <div class='mdl-grid center-horizontally'>	
	<div class="mdl-cell mdl-cell--10-col">
	    {% include "welcome.html" %}
	</div>
    </div>


    <!-- Cards -->
    <div class='mdl-grid center-horizontally'>	
	{% include "cards/nwm-card.html" %}
	{% include "cards/pf-card.html" %}
    </div>

{% end %}

