<!DOCTYPE html>

{% extends base_new.html %}

{% block extra-head %}
      <link rel="stylesheet" type="text/css" href='{{ static_url("node_modules/leaflet/dist/leaflet.css") }}'/> 
      <link rel="stylesheet" type="text/css" href='{{ static_url("node_modules/leaflet-easybutton/src/easy-button.css") }}'/> 
      <link rel="shortcut icon" href="favicon.ico">
      
      <script type='text/javascript' src='{{ static_url("node_modules/leaflet/dist/leaflet.js") }}' ></script>
      <script type='text/javascript' src='{{ static_url("node_modules/leaflet-easybutton/src/easy-button.js") }}'></script>
      <script type='text/javascript' src='{{ static_url("map_new.js") }}'></script> 
      <script type='text/javascript' src='{{ static_url("pfmap.js") }}'></script>
      <script type='text/javascript' src='{{ static_url("L.Control.MousePosition.js") }}'></script> 
      <script type='text/javascript' src='{{ static_url("dialog.js") }}'></script> 
      <script type="text/javascript" src='{{ static_url("usa-boundary.json") }}'></script>
      <script type="text/javascript" src='{{ static_url("leaflet.snogylop.js") }}'></script>


	{% block more-head %}
	{% end %}
{% end %}


{% block content %}


    <div id=map-div class='mdl-grid'>	
        <div class='mdl-cell mdl-cell--12-col' 
	     style='margin:0px;height:100%'>

        <ul id='accordion' class="mdlext-accordion mdlext-js-accordion mdlext-accordion--horizontal mdlext-js-ripple-effect mdlext-js-animation-effect map-accordion" aria-multiselectable="true">

            <li id=map-panel class="mdlext-accordion__panel is-expanded" aria-hidden='false'>
                <header class="mdlext-accordion__tab" aria-expanded='true' hidden>
                    <span class="mdlext-accordion__tab__caption">Map</span>
                    <i class="mdlext-aria-toggle-material-icons"></i>
                </header>
		<section id=map-tabpanel class="mdlext-accordion__tabpanel" aria-hidden='false'>
		    <div class='map' id="map"></div>
                </section>
            </li>

            <li id=menu-panel class="mdlext-accordion__panel huc-table-panel">
                <header class="mdlext-accordion__tab" hidden>
		    <span class="mdlext-accordion__tab__caption">Menu</span>
                    <i class="mdlext-aria-toggle-material-icons"></i>
                </header>
                <section id=menu-tabpanel class="mdlext-accordion__tabpanel" aria-hidden='true'>
		            {% include menu.html %} 
                </section>
            </li>
        </ul>
        </div>

        <form id=form-submit action="{{ request.path }}" method="post">
            <input type="hidden" name="llat" id="llat"/>
            <input type="hidden" name="ulat" id="ulat"/>
            <input type="hidden" name="llon" id="llon"/>
            <input type="hidden" name="ulon" id="ulon"/>
            <input type="hidden" name="hucs" id="hucs"/>

         {% module xsrf_form_html() %}
        </form>



   <dialog class="mdl-dialog" style='visibility:hidden'>
    <div class="mdl-dialog__content">
      <p>
        {% include pf-dialog-gen.html %}
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Close</button>
    </div>
  </dialog>


{% end %}

