<html>
  <head>
  <link rel="stylesheet" href='{{ static_url("style.css") }}'>
   <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">

   <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
   <script type='text/javascript' src='{{ static_url("status.js") }}'></script>
  </head>
   <body>


     <h3 class='suez-font'>You're request is being processed...</h3>
     <div class="progress">
    </div>


    
     {#
     <table style="width:100%">
         <tr>
	     <th> JobID </th>
	     <th> Job Status </th>
	     <th> Output Url </th>
         <tr>
	     <td>{{ job['id'] }}</td>
	     <td>{{ job['status'] }}</td>
	     {% if job['file'] != None %}
    	         <td><a href="{{ job['file'] }}">{{ job['file'] }}</a></td>
	     {% else %}
    	         <td> --- </td>
       {% end %}
     </table>
     #}
     </body>
 </html>
