<div class=text-body>
    <h3> Welcome to the CUAHSI Domain Subsetter!<h3>
    <p>
    The purpose of this application is to introduce a collaborative effort for preparing, publishing, and sharing subsets of the National Water Model input data at watershed scales. With a combination of modern cyberinfrastructure techniques and state-of-the-science modeling tools, researchers will have access to subsets of National Water Model information that would otherwise require extensive computational resources. This work will provide the foundation onto which similar efforts can be applied to other large-scale model simulations and input data.
    </p>

<!--
<br>

Use the map below to select a bounding box containing your domain of interest.
-->

</div>
