
/* Styling for Jobs table */
/*
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
*/

/* Styling for coordinates table */
/*
table.coords {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
table.coords td {
    border: 0px;
    text-align: left;
    padding: 0px;
}
table.coords td:first-child {
    text-align: right;
    padding: 0px 10px 0px 0px;
    font-weight: bold;
}
table.coords tr:nth-child(even) {
    background-color: #ffffff;
}
table.coords th {
    text-align: center;
    border: 0px;
}

table.coords input {
    width: 99%;
    font-size: large;
}
table.coords input.submit {
    width: 50%;
    font-size: large;

}
*/



.mdl-layout__header-row{
  background: url("./blue-smoke.jpg") center / cover;
  padding: 60px;
}
.body-layout .mdl-layout__header,
.body-layout .mdl-layout__drawer-button {
  color: rgba(0,0,0,87);
  }

.mdl-layout__header-row .mdl-navigation__link{
  color: rgba(0,0,0,87);
}

.map {
    height: 75vh;
    border: 1px solid #AAA;
    position: relative;
    margin:50px 50px 5px 50px;
}
