/* Header Styling */
.mdl-layout__header-row{
  background: #ffffff;
  padding: 35px; 
  }

.mdl-layout--fixed-header {
  position: relative;
  z-index: 2;
}

.body-layout .mdl-layout__header {
  color: rgba(0,0,0,87);
/*  color: #E7EFF2; */
  }

/* Navigation bar */
.mdl-layout__header-row .mdl-navigation__link{
/*  color: rgba(0,0,0,87);*/
  color: #36474E;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

a.subset-launch {
    display: inline-block;
    height: 100%;
    width: 100%
}

/* Nav Sub Menu */
a.nav-sub-menu {
    color: #36474E !important;
    padding: 0px 16px !important;
}

/* Header logo */
.header-logo img {
    height: 50px;
    width: auto;
}

/* Nav button - hamburger */
.mdl-layout__drawer-button .material-icons {
  height: 60px;
  width: 60px;
  font-size: 40px;
  padding: 10px 24px 0px 0px;
  color: #36474E;
}

/* footer */
.mdl-mini-footer {
    background-color: white;
    padding: 15px 16px;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: darkgrey;
    font-color: #36474E;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.mdl-mini-footer .footer-logo img {
    height: 30px;
    width: auto;
}

/* main body */
.mdl-layout__content {
//    background-color: #80808021;
}

/* Title Style */
.mdl-layout-title {
    padding: 0px 0px 8px 25px;
}

/* Page Fonts */
body {
    font-color: #36474E;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.title-font {
    font-size: 28pt;
    color:whitesmoke;
}

.progress-font {
    font-size: 24pt;
    font-weight: bold;
    color:grey;
}

/* Map */
.map {
    height: 100%;
    border: 1px solid #AAA;
    position: relative;
    z-index: 1;
//    margin:50px 10px 5px 50px;
}

/* MAP BUTTONS */


/* Mouse Coordinates*/ 
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Beta Logo */
#beta-tag {
  background: url("./beta_tag.png") center / cover;
  position: absolute; 
  right: 0; 
  top: 0; 
  display: block; 
  height: 75px; 
  width: 75px; 
}

/* div for status progress messages (footer) */
div.progress-msg{
    position: fixed;
    width: 100%;
    height: 25%;
    bottom: 0;
    margin: -10px;
    color: white;
    background: grey;
    padding: 10px;
    font-family: Monospace;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Status Logo */
div.progress {

  width: 80%;
  height: 80%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.progress h3 {
    padding-top: 10%;
}

div.processing {
  background: url("./earth-loading.gif") center / cover;
}

/* text-body formatting */
.text-body {
    margin: 20px 70px 5px 70px;
    padding: 10px;
    background-color: white;
    font-color: #36474E;
//    font-family: Roboto,Helvetica,Arial,sans-serif;
}

/* ACCORDION */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
#map-panel.mdlext-accordion__tabpanel {
    transition: none !important;
    animation: none !important;
}
#map-tabpanel {
    padding: 0px;
}
/* ACCORDION MAP PANEL */
.map-accordion {
    min-width: 100%; 
    min-height: 100%; 
}
#map-tabpanel > #map {
    margin:0px;
}

/* ACCORDION MENU PANEL */
#menu-panel.is-expanded {
    width: 350px !important;
}
#menu-panel {
    width: 0px !important;
}
.mdlext-accordion__panel.huc-table-panel {
    min-width: 0px;
}
.mdlext-accordion__panel.huc-table-panel > header {
    height: 215px;
    border-radius:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-right: 10px;
}
#menu-tabpanel {
    padding: 0px;
    margin:0px;
}
#menu-tabpanel > #huc-table-div {
    margin-top: 1px;
}

/* HUC TABLE */

.mdlext-accordion--horizontal .mdlext-accordion__tabpanel {
    border: None;
}
#huc-table-div {
    margin-top:50px;
}
#huc-table {
    table-layout:fixed;
    width: 100%;
}
.mdl-data-tabledynamic__content {
    max-height: 200px;
}
#huc-table td:nth-child(1) {
    width: 10px;
    padding: 10px;
}
#huc-table td:nth-child(2) {
    padding-left: 40px;
    width: 110px;
}
#huc-table td:nth-child(3) {
    padding:: 0px;
    text-align: center;
}
*:focus {outline:none !important}


/* table styling */
.admin-table td {
    text-align:center;
}
.admin-table th {
    text-align:center;
}

.admin-table {
    width: 80%;
    margin: 10px auto 10px auto;
}
#btn-subset-submit {
    font-size: 20px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    text-transform:none;
}
#submit-button-div {
    padding: 0px;
}
#map-div {
    padding: 0px;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}
#map-div > .mdl-cell {
    height: 100%;
    width: 100%;
}

/* DIALOG */

.mdl-dialog {
    height:70%;
    width: 50%;
//    overflow: auto;
    position: fixed;
    margin-top: 100px; // large top margin to push the modal below the fixed page header
    z-index:2;
}
.mdl-dialog__content {
   height: 80%;
   overflow: auto;
}



/* Card Styling */
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('./images/nwm122-card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.mdl-card__media {
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.mdl-card__media > img {
    width: 100%;
    height: 100%;
}
.mdl-card {
    margin: 20px;
    padding: 0px;
}
.mdl-card figure {
    text-align: center;
    background-color: white;
}
#subset-card {
    overflow: visible;
}

/* MDL Grid styles */
.mdl-grid.center-horizontally {
  justify-content: center;
}

/* Info pages styling */
.info-page {
    padding: 8px 10%;
}
.page-label {
    margin: 20px 70px 5px 70px;
    padding: 10px;
    background-color: white;
    color: #36474E;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}
