/* Header Styling */
.mdl-layout__header-row{
  background: url("./blue-smoke.jpg") center / cover;
  padding: 60px;
}

.body-layout .mdl-layout__header {
  color: rgba(0,0,0,87);
  }

 /* Menu Button Styling */
.mdl-layout__drawer-button {
  color: rgba(0,0,0,87);
  height: 60px;
  width: 60px;
  }

.mdl-layout__drawer-button .material-icons {
  font-size: 40px;
  padding: 24px 24px 0px 0px;
}

.mdl-layout__header-row .mdl-navigation__link{
  color: rgba(0,0,0,87);
}

/* Title Style */
.mdl-layout-title {
    padding: 0px 0px 15px 20px;
}

/* Page Fonts */
.roboto-font {
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

/* Map */
.map {
    height: 75vh;
    border: 1px solid #AAA;
    position: relative;
    margin:50px 50px 5px 50px;
}

/* Beta Logo */
#beta-tag {
  background: url("./beta_tag.png") center / cover;
  position: absolute; 
  right: 0; 
  top: 0; 
  display: block; 
  height: 75px; 
  width: 75px; 
}

/* Status Logo */
div.progress {

  background: url("./earth-loading.gif") center / cover;
  width: 80%;
  height: 80%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
